@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;

  --animate-breathe: breathe 8s ease-in-out infinite;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes breathe {

    0%,
    100% {
      transform: scale(1);
      opacity: 0.8;
    }

    50% {
      transform: scale(1.2);
      opacity: 1;
    }
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}

/* Custom Utilities */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Base Styles */
body {
  background-color: #0f172a;
  color: white;
  overflow: hidden;
  font-family: var(--font-sans);
}